<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сензорен хъб за екологичен мониторинг</title>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>

<body>
    <nav>
        <img src="/tu-gabrovo-header.png" alt="tu-gabrovo-logo">
        <a href="/about" class="about-link">За проекта</a>
    </nav>
    <main>
        <%- body %>
    </main>
</body>

</html>